
.my-header {
    display: flex;
    align-items: center;
    padding: 5px 16px;
    color: rgb(3, 75, 3);
    font-family: monaco;
    background-color: rgba(115, 165, 40, 0.918);
  }


.header-name{
    color: white;
    margin-left: 80px;
    text-decoration: none ;
}